<?xml version="1.0" encoding="UTF-8"?>
<classMaps>
	<columnParameters classId="org.mini.model.Employee">
		<operate operateId="queryEmployee">
			<columnParameter columnName="login_name" fieldName="loginName"
				parameterName="loginName" />
				<columnParameter columnName="login_password" fieldName="password"
				parameterName="password" />
		</operate>
		
		<operate operateId="queryEmployeeSql">
			<columnParameter columnName="login_name" fieldName="loginName"
				parameterName="loginName" />
				<columnParameter columnName="login_password" fieldName="password"
				parameterName="password" />
		</operate>
	</columnParameters>
</classMaps>